
<a class ="ininput">
  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)">
</a>



<div *ngFor="let patients of people">
  <span *ngIf='patient == patients.FirstN + patients.MiddleN + patients.LastN'>
    <label class="hoverable" for="fileInput">
      <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      <div class="hover-text">Choose file</div>
      <div class="background"></div>
    </label>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">
    <!-- <button *ngIf="url" (click)="delete()" >delete</button> -->

<div>{{patients.FirstN}} {{patients.MiddleN}} {{patients.LastN}}</div>
    <br>
    <div>
        <button class="btn btn-primary" (click)="SetVars(patients.FirstN, patients.MiddleN, patients.LastN)">Select Patient</button>
      </div>
  </span>
</div>


<div style="margin-top: 3vw" id="container">
  <div class="accordion">
    <label for="accordion1">
      <h1>Personal Information</h1>
    </label>
    <input type="checkbox" id="accordion1">
    <p class="single-text">
      <span>
        <ul>
          <li *ngFor="let patients of people">
            <span *ngIf='patient == patients.FirstN + patients.MiddleN + patients.LastN'>
              DOB: {{patients.DoB | date: 'dd/MM/yyyy'}} <br />
              Patient ID: {{patients.SSN}} <br />
              Phone: {{patients.Phone}} <br />
              Height: {{patients.Height}} <br />
              Weight: {{patients.Weight}} <br />
              Gender: {{patients.Gender}} <br />
            </span>
          </li>
        </ul>
      </span>
    </p>
  </div>
</div>


<div id="container">
  <div class="accordion">
    <label for="accordion2">
      <h1>Health Information</h1>
    </label>
    <input type="checkbox" id="accordion2">
    <p class="single-text"> Health Info goes here...</p>
  </div>
</div>

<div id="container">
  <div class="accordion">
    <label for="accordion3">
      <h1>Records</h1>
    </label>
   <input type="checkbox" id="accordion3">
    <p class="single-text">
      <span>
        <ul>
          <li *ngFor="let history of phistory">
            <span>
              Date: {{history.date | date: 'MM/dd/yyyy' }} <br>
              Drug: {{history.drugs}} <br>
            </span>
          </li>
        </ul>
      </span>
    </p>
  </div>
</div>




<div class="textarea">
  <textarea placeholder="Any Additional Comments here..."></textarea>
  <div>
    <button style="margin-left: 30vw" onclick="alert('Comment submitted into patients record')" class="btn btn-defaultr">submit</button>
  </div>
</div>

<div *ngFor="let patients of people">
  <span *ngIf='patient == patients.FirstN + patients.MiddleN + patients.LastN'>
  <button style="margin-right: 0vw" class="btn btn-danger" (click)="Delete(patients._id)">Remove Patient</button>
</span>
</div>
