<a class="ininput">

  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)"></a>
  
  <br /><br />
  <div>
      <div>
          <form>
  
            <h2 style="color: black; display: inline-block; margin-left: 2vw">Actions</h2>
  
          

          </form>
      </div>
  
      <br>
      <ul>
        <button routerLink="/actions/IR" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">Insulin replacement</button>
        <button routerLink="/actions/WR" routerLinkActive="active" class="Long-Button button2" style="float: left; overflow: hidden">Weight reduction</button>
        <button routerLink="/actions/IP" routerLinkActive="active" class="Long-Button button3" style="float: left; overflow: hidden">Insulin production (pancreas)</button>
        <button routerLink="/actions/AS" routerLinkActive="active" class="Long-Button button4" style="float: left; overflow: hidden">Appetite suppression (CNS)</button>
        <button routerLink="/actions/GR" routerLinkActive="active" class="Long-Button button5" style="float: left; overflow: hidden">Glucose release (liver)</button>
        <button routerLink="/actions/GU" routerLinkActive="active" class="Long-Button button6" style="float: left; overflow: hidden">Glucose uptake (fat, muscle)</button>
        <button routerLink="/actions/GA" routerLinkActive="active" class="Long-Button button7" style="float: left; overflow: hidden">Glucose absorption (intestine)</button>
        <button routerLink="/actions/GE" routerLinkActive="active" class="Long-Button button8" style="float: left; overflow: hidden">Glucose excretion (kidney)</button>
        <button routerLink="/actions/GT" routerLinkActive="active" class="Long-Button button9" style="float: left; overflow: hidden">Glucose transit (stomach)</button>
      </ul>
  </div>
