<a class="ininput">

  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)"></a>
  
  <br />
  <div> 
    <br>
    <ul>
      <button routerLink="/classes/OralComboClass/biguanidethiazolidinedione" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">biguanidethiazolidinedione</button>
      <button routerLink="/classes/OralComboClass/DPP-4 inhibitorbiguanide" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">DPP-4 inhibitorbiguanide</button>
      <button routerLink="/classes/OralComboClass/sulfonylureabiguanide" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">sulfonylureabiguanide</button>
      <button routerLink="/classes/OralComboClass/biguanideDPP-4 inhibitor" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">biguanideDPP-4 inhibitor</button>
      <button routerLink="/classes/OralComboClass/biguanidemeglitinide" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">biguanidemeglitinide</button>
      <button routerLink="/classes/OralComboClass/DPP-4 inhibitorthiazolidinedione" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">DPP-4 inhibitorthiazolidinedione</button>
      <button routerLink="/classes/OralComboClass/sulfonylureathiazolidinedione" routerLinkActive="active" class="Long-Button button0" style="float: left; overflow: hidden">sulfonylureathiazolidinedione</button>
    </ul>
  </div>
