<a class="ininput">
  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)">
</a>
<div class="scrollbox" id="Background">



    <table mat-table [dataSource]="cart">

      <ng-container matColumnDef="checkoutdate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.checkoutdate | date: 'MM/dd/yyyy'}} </td>
      </ng-container>


      <ng-container matColumnDef="Class">
          <th mat-header-cell *matHeaderCellDef>Class</th>
          <td mat-cell *matCellDef="let element"> {{element.Class}} </td>
        </ng-container>

      <ng-container matColumnDef="Drugs">
        <th mat-header-cell *matHeaderCellDef>Drugs</th>
        <td mat-cell *matCellDef="let element"> {{element.Drugs}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Price</th>

        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.Price | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="Dosage">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right">Dosage</th>
          <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.dose}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef class="mat-column-right">Quantity</th>
            <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.qty}} </td>
          </ng-container> 

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Action</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button class="bttn" (click)="DeleteCart(element.Drugs)">Remove</button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>
<div>
  <button style="background:#007bff; color:white;" (click)="comboCheck()" id="checkoutbtn" class="btn btn-default" routerLink="/checkout">Checkout</button>
   <label style = "color:black;"id="subtotal">Subtotal: {{ sum | currency}}</label> 
</div>