

table {
  width: 100%;
}

.mat-column-right {
  text-align: center;
}

.mat-column-sub {
  text-align: right;
}

#checkoutbtn {
  position: absolute;
  float: right;
  right: 4.75vw;
  bottom: 2vw
}

#subtotal {
  float: right;
  color: black;
  position: absolute;
  right: 30vw;
  bottom: 2vw;
}
.bttn {
  border: none;
  background-color: inherit;
  color: red;
  font-size: 14px;
}

.scrollbox {
  color: white; 
  position: absolute;
  margin-left: 4vw;
  margin-bottom: 5vw;
}
