<a class="ininput">
  <input type="button" style="float:left" class="btn btn-default" value="<" onclick="history.go(-1)">
</a>
<br /><br />
  <span *ngFor="let onPageInj of meds">
    <ul>
      <li *ngIf='"IR" == drugs && (onPageInj.Class == "insulin" || onPageInj.Class == "amylin analog")'>
        <button class="Long-Button button0" routerLink="/actions/IR/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"WR" == drugs && (onPageInj.Class == "GLP-1 receptor agonist")'>
        <button class="Long-Button button2" routerLink="/actions/WR/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"IP" == drugs && (onPageInj.Class == "sulfonylurea" || onPageInj.Class == "meglitinide" || onPageInj.Class == "DPP-4 inhibitor" || onPageInj.Class == "GLP-1 receptor agonist")'>
        <button class="Long-Button button3" routerLink="/actions/IP/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"AS" == drugs && (onPageInj.Class == "GLP-1 receptor agonist" || onPageInj.Class == "DPP-4 inhibitor")'>
        <button class="Long-Button button4" routerLink="/actions/AS/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"GR" == drugs && (onPageInj.Class == "biguanide" || onPageInj.Class == "dopamine agonist")'>
        <button class="Long-Button button5" routerLink="/actions/GR/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"GU" == drugs && (onPageInj.Class == "Thiazolidinediones")'>
        <button class="Long-Button button6" routerLink="/actions/GU/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"GA" == drugs && (onPageInj.Class == "alpha-glucosidase inhibitor" || onPageInj.Class == "bile acid sequestrant")'>
        <button class="Long-Button button7" routerLink="/actions/GA/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"GE" == drugs && (onPageInj.Class == "SGLT-2 inhibitor")'>
        <button class="Long-Button button8" routerLink="/actions/GE/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
      <li *ngIf='"GT" == drugs && (onPageInj.Class == "amylin analog")'>
        <button class="Long-Button button9" routerLink="/actions/GT/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>
    </ul>
  </span>
