<a class="ininput">
  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)">
  </a>
  <div>
    <strong id="title">{{drugs}}</strong>
    <span>
      <ul *ngFor="let onPageInj of meds">
        <li *ngIf='onPageInj.Brand == drugs'>
          Generics: {{onPageInj.Generic}} <br />
          Class: {{onPageInj.Class}} <br />
          Price: <!--${{drug.price}}--> <br />
          Dosage: <!--{{drug.dosage}}--> <br />
          Quantity: <!--{{drug.quantity}}--> <br />
          Link:<!--<a href="{{drug.hyperlink}}" target="_blank"> {{drug.hyperlink}} </a>--> <br />
          <a id="cartbtn" (click)="addtocart(drug.Brand, drug.price)">Add To Cart</a>
        </li>
      </ul>
    </span>
  </div>
  
  