<!--This file makes the bar across the top the style is defined in navbar.component.css-->
<nav>
  <ul>
    <li class="ripple">
      <a routerLink="" routerLinkActive="active">
        <button>Home</button>
      </a>
    </li>
    <li class="ripple">
      <a routerLink="patients" routerLinkActive="active">
        <button>Patients</button>
      </a>
    </li>
    <li class="ripple">
    <a routerLink="health-info" routerLinkActive="active">
      <button>Search</button>
    </a>
  </li>

  <!--<div class="topnav"style = "margin-left: 10vw;">
    <div class="search-container">
      <input type="text" placeholder="Search.." [(ngModel)] = "FirstN" name="search">
      <button type="submit">Search</button>
    </div>
  </div>-->
  



    <li class="ripple" style="float:right">
      <a routerLink="cart" routerLinkActive="active">
        <button>Cart</button>
      </a>
    </li>

    <li class="ripple" style="float:right" *ngIf="!userIsAuthenticated">
      <a routerLink="login2" routerLinkActive="active">
        <button>Login</button>

      </a>
    </li>
    <li class="ripple" style="float:right" *ngIf="userIsAuthenticated">
      <a routerLink="login2" routerLinkActive="active">
        <button (click)="onLogout()">Logout</button>

      </a>
    </li>

    <li class="ripple">
      <a routerLink="helppage" routerLinkActive="active">
        <button>Help</button>
      </a>
    </li>
    <li class="ripple" style="float:right">
      <a routerLink="newpatient" routerLinkActivr="active">
        <button>New Patient</button>
      </a>
    </li>
  </ul>
</nav>
