/*This file controls what each element looks like on the navigation bar at the top*/

/*sections with nothing before the name eg.(nav,ul,button) define characteristics for all items that use those tags*/

/*sections with a # before the name are ids they are used to define singular objects that won't be used elsewhere */

/*sections with a . before the name are classes and are for objects that you want to look the same and will be used in multiple areas*/

/*ids and classes must be assigned to tags in the .html file see home.component.html buttons for an example*/

nav {
  background: #222222;  /*background color of the nav bar, its width (the whole screen) and empty space between it and the window its in*/
  width: 100%;
  margin: 0;
  padding: 0;
}
ul { /*unsorted list: no bullets, no extra spacing, hide any overflow off of the list, make the background a blue colored gradiant*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background:#222222;
} 
li {    /*list item: set items horizontally, with no spaceing between them*/
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222222;
}
li:hover {
  background: #3b3b3b;
}
li a {  /*attributes of list elements: display in block style(whole area is clickable), center the test, space according to view width(screen size)*/
  display: block; /*space items apart based on right side(should be view width to allow resizing), no bullets, text color is black*/
  text-align: center;
  padding: 0.8vw 0vw;
  margin-right: 1.1vw;
  margin-left: 1.0vw;
  text-decoration: none;
  color: black;
}
button { /*buttons are longer than they are wide, fill up all the space allotted, have no border lines, have a faint black shadow, rounded corners*/
  padding: 0.67vw 0.97vw; /*are colored by a beige to white gradient, and have large text*/
  margin: 0;
  border: none;
  //border-radius: 8px;
  background-color:transparent;
  color: white;
  font-size: 1.47vw;
  background-position: center;
  transition: background 0.8s;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: rgb(173, 173, 173) radial-gradient(circle, transparent 1%, rgb(156, 155, 155) 1%) center/15000%;
}

.ripple:active {
  background-color: #9e9fa0;
  background-size: 100%;
  transition: background 0s;
}

div {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222222;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #222222;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 16px;
  font-size: 1.5vw;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6.5px;
  margin-top: 16px;
  margin-right: 16px;
  background: #007bff;
  font-size: 1.5vw;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #222222;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
