
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li {
  margin-bottom: 1vw;
}


table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: black;
}

.mat-column-right {
  text-align: center;
}

.mat-column-sub {
  text-align: right;
}

.lightgrey { 
  background-color:lightgray; 
}

.dark {
  background-color: whitesmoke;
}
