<div style="height:1000px;line-height:100%;padding:1px;">
<h1 class="headertekst"> Navigation Bar</h1>
<div class="row">
    <div class="column">

    <a><img src="https://i.ibb.co/0Cw2ZQq/Screen-Shot-2019-03-20-at-3-15-23-PM.png" alt="nav bar" border="0"></a>
    </div>
<div class="column">
    <h5> The Navigation Bar is located on every page, allowing you to log in, search a patient or medication, and also view what's in the cart.</h5>
</div>
</div>
<h1 class="headertekst"> Look-up or Add Patients</h1>

<div class="row">
    <div class="column">

<a><img src="https://i.ibb.co/tBWbP1Y/Screen-Shot-2019-03-20-at-3-15-03-PM.png"style="width:250px;height:250px;" alt="patient button on homepage"  border="0"></a>
<a><img src="https://i.ibb.co/xC82jbH/Screen-Shot-2019-03-20-at-3-15-12-PM.png" style="width:250px;height:350px;"alt="button on home page when you hover over patient" border="0"></a>

</div>

<div class="column">
    <h5> The patient button is located on the homepage. When hovering over the patient button, it will expand and give you the option to view an existing patient, or adding a new patient.</h5>
</div>

</div>
<div class="space3"></div>

<h1 class="headertekst"> Look up Medications</h1>
<div class="row">
<div class="column">
<a><img src="https://i.ibb.co/GHZFmDs/Screen-Shot-2019-03-20-at-3-14-23-PM.png" style="width:250px;height:250px;" alt="meds button on homepage" border="0"></a>
<a><img src="https://i.ibb.co/z8zWfvM/Screen-Shot-2019-03-20-at-3-14-53-PM.png" style="width:300px;height:250px;" alt="differnt forms when hover over meds on homepage" border="0"></a>
</div>
<div class="column">
    <h5> The medication button is located on the homepage. When hovering over the button, you will be able to select four different options: Action, Oral, Injectable, and Inhalable depending on the form of medication you are looking for</h5>
</div>
</div>




<h1 class="headertekst"> Creating and Viewing All Patients</h1>
<div class="row">
<div class="column">
      
 <a><img src="https://i.ibb.co/sFvpmJ2/Screen-Shot-2019-03-20-at-3-17-32-PM.png" style="width:350px;height:350px;" alt="create new patient" border="0"></a>
 <div class="space3"></div>

 <div class="row">
<a><img src="https://i.ibb.co/3p7vTDs/Screen-Shot-2019-03-20-at-3-15-42-PM.png"alt="listing patients" border="0"></a>
</div>
</div>
<div class="column">
        <h5> When clicking New Patient from the homepage, it will redirect you to this form. Fill out accordingly and click Save to add it to your current patients, or you may cancel.</h5>
        <div class="space"></div>

        <div class="row">
                <h5> When clicking Current Patient from the homepage, it will bring you to a list showing the patients Full name and Date of Birth, clicking a patient will redirect you to their information.</h5>

</div>


</div>
</div>
<div class="space"></div>


<h1 class="headertekst"> Patient Information</h1>

<div class="row">
<div class="column">
   
<a><img src="https://i.ibb.co/26Lgkw5/Screen-Shot-2019-03-20-at-3-16-23-PM.png" style="width:300px;height:350px;"alt="patient information including comment and remove patient" border="0"></a>

<a><img src="https://i.ibb.co/1TPJpPT/Screen-Shot-2019-03-20-at-3-16-04-PM.png"style="width:350px;height:300px;" alt="showing personal information for patient" border="0"></a>

</div>
<div class="column">

        <h5> After clicking a patient from the list, you will be able to see the patients: name, picture, personal information (example of personal information shown below), health information, and records. You can add a comment that will be saved in the records by date. If you would like to remove a patient from the list, you can click the red button under the comment box that says, "remove patient".</h5>
        <div class="space1"></div>

  
    </div>
</div>


<div class="space1"></div>


<h1 class="headertekst"> Class Medication</h1>
<div class="column">

    <div class="row">
        <a><img src="https://i.ibb.co/p4Yhgbm/Screen-Shot-2019-03-20-at-3-16-47-PM.png" alt="class page menu" border="0"></a>
    </div>

    <div class="row">
        <a><img src="https://i.ibb.co/CK1gxj0/Screen-Shot-2019-03-20-at-3-16-59-PM.png" alt="meds in that class" border="0"></a>
    </div>


     <div class="row">
        <a><img src="https://i.ibb.co/3yVkBzb/Screen-Shot-2019-03-20-at-3-17-20-PM.png" alt="medication information with add to cart" border="0"></a>
    </div>


</div>


<div class="column">
        <h5> Depending on the form of medication you clicked form the homepage, it will display the classes, to help navigate through a certain medication easier.</h5>
        <div class="space1"></div>

        <div class="row">
                <h5> Once you click on a class, you will see a list of medications to choose from.</h5>

        </div>
        <div class="space1"></div>

        <div class="row">
                <h5> After clicking the medication, you will see a generic name, the class, price dosage, quantity, and a link that have a more detailed description of the medication. If you would like the prescribe the medication to the patient, click the red button that says "Add to Cart" and a message will pop up to alert you that the item has been placed in the cart.</h5>

        </div>
</div>
<div class="space5"></div>



<h1 class="headertekst"> Filtering Drugs</h1>
<div class="column">
        <div class="row">
        <a><img src="https://i.ibb.co/t8pFnPd/Screen-Shot-2019-03-20-at-3-18-42-PM.png" alt="select action drop down menu" border="0"></a>
        <div class="space4"></div>

    </div>
    <div class="row">
            <a><img src="https://i.ibb.co/h9yGDf3/Screen-Shot-2019-03-20-at-3-18-35-PM.png" salt="select form from drop down menu" border="0"></a>
            <div class="space4"></div>

        </div>
        <div class="row">
                <a><img src="https://i.ibb.co/m8H2Jj8/Screen-Shot-2019-03-20-at-3-18-27-PM.png"alt="select class on drop down menu" border="0"></a>
                <div class="space4"></div>

            </div>
            <div class="row">
                    <a><img src="https://i.ibb.co/BBj4p0s/Screen-Shot-2019-03-20-at-3-18-19-PM.png" alt="select price on drop down menu" border="0"></a>
                </div>
            
            <div class="space4"></div>

</div>
<div class="column">
        <h5> If you would like to search all medications from the class page, you can filter by the action depending on the patients needs.</h5>
        <div class="space4"></div>

        <div class="row">
                <h5> You can also filter by the form of medication.</h5>

        </div>
        <div class="space4"></div>

        <div class="row">
                <h5> Also, the class of medication.</h5>

        </div>
        <div class="space1"></div>

        <div class="row">
                <h5> Lastly, you can filter by price if the patient has a certain amount they would like to stay in.</h5>

        </div>
        
    </div>

<div class="space2"></div>


<h1 class="headertekst"> Log in</h1>
<div class="row">
  <div class="column">
  <a><img src="https://i.ibb.co/ZVzXLg4/Screen-Shot-2019-03-20-at-3-17-41-PM.png" alt="log in page" border="0"></a>
  </div>
  <div class="column">
      <h5> From the navigation bar, you are able to log in or register for an account.</h5>
  </div>
</div>


<div class="space3"></div>


<h1 class="headertekst"> Cart</h1>
<div class="row">
  <div class="column">
<a><img src="https://i.ibb.co/pRLKj9s/Screen-Shot-2019-03-20-at-3-17-53-PM.png" alt="view cart page with checkout button" border="0"></a>
  </div>
  <div class="column">
      <h5> After selecting the medications for the patient, you can check the cart page from the navigation bar to review all the medications and the total. Once reviewed, to checkout, click the blue button at the bottom of the page that says "checkout".</h5>
  </div>
</div>

</div>
