<!--Defines each button for the home page and defines what each is linked to-->

<div class="add-button">
  <div class="sub-button tl" routerLink="actions" routerLinkActive="active"></div>
  <div class="sub-button tr" routerLink="/classes" routerLinkActive="active"></div>
  <div class="sub-button bl" routerLink="injectableClasses" routerLinkActive="active"></div>
  <div class="sub-button br" routerLink="inhalables" routerLinkActive="active"></div>
</div>
<div class="patients">
  <div class="sub-button pl" routerLink="/patients" routerLinkActive="active"></div>
  <div class="sub-button pr" routerLink="/newpatient" routerLinkActive="active"></div>
</div>
