<a class="ininput">
  <input type="button" style="float:left" class="btn btn-default" value="<" onclick="history.go(-1)">
</a>
<br /><br />
  <span *ngFor="let onPageInj of meds">
    <ul>
      <li *ngIf='onPageInj.Class == drugs && onPageInj.Class == "insulinGLP-1 receptor agonist"'>
        <button class="Long-Button button0" routerLink="/injectableClasses/InjComboClass/{{ onPageInj.Class }}/{{ onPageInj.Brand }}" routerLinkActive="active">
          {{ onPageInj.Brand }}
        </button>
      </li>

    </ul>
  </span>