<a class="ininput">
  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)">
  </a>
  
  
  <div>
    <h2>Brands</h2>
    <strong id="title">{{drugs}}</strong>
    <span>
      <ul *ngFor="let drug of meds2">
        <li *ngIf='drugClass == drug.Class && drugs == drug.Brand'>
        
          Brand: {{drug.Brand}} <br />
          Class: {{drug.Class}} <br />
          Price: {{array2[dqp] | currency}} <br />        
          <!--dqp comes from the drop down ngModel name-->    
           Dosage:<span class="styled-select blue semi-square" style="width:200px; margin-left: 10px">
              <select matNativeControl required [(ngModel)]="dqp">
              <option value="void">Select a Dosage</option>
             <option value="{{array.indexOf(a)}}" *ngFor="let a of array">{{a}}</option>  <!-- 0, 1 are the elements of the array -->
            </select>
          </span><br/> 
          Quantity: {{array1[dqp]}} <br />
          Link:<a href="{{drug.link}}" target="_blank"> {{drug.link}} <br /></a>
          <a id="cartbtn" (click)="addtocart(drug.Brand, array2[dqp], drug.Class, array1[dqp], array[dqp])">Add To Cart</a>
        </li>
      </ul>
  
  
  
      
    </span>
  </div>