<a class="ininput">

  <input type="button" class="btn btn-default" value="<" onclick="history.go(-1)">
</a>
<div>
  <form>

    <h2 style="color: black; display: inline-block; margin-left: 2vw">Classes</h2>



  </form>
</div>
<br />
<div>
  <br>
  <ul>
    <button routerLink="/injectableClasses/amylin analog" routerLinkActive="active" class="trapezium button0" style="border-bottom: 10vw solid #f98b8e; margin: .72vw">amylin analog</button>
    <button routerLink="/injectableClasses/insulin" routerLinkActive="active" class="trapezium button2" style="border-bottom: 10vw solid #815858; margin: .72vw">insulin</button>
    <button routerLink="/injectableClasses/GLP-1 receptor agonist" routerLinkActive="active" class="trapezium button3" style="border-bottom: 10vw solid #cb93ab; margin: .72vw">GLP-1 receptor agonist</button>
    <button routerLink="/injectableClasses/InjComboClass" routerLinkActive="active" class="trapezium button10" style="border-bottom: 10vw solid #00f8f8; color: black; margin: .72vw">Combos</button>
  </ul>
</div>
